<%- include('../partials/header') %>


<% flights.forEach(function(f) { %>

  <tr>
    <td>Airline : <%= f.airline %></td>
    <br>
    <td>Airport : <%= f.airport %></td>
    <br>
    <td>Flight Number : <%= f.flightNo %></td>
    <br>
     <td>Departs : <%= f.departs %></td> 
  </tr>
  <hr>
  



<% }) %>

<%- include('../partials/footer') %>
